@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
* {
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;

}
.main input {
    font-size: 1.5em;
    width:50%;
}
.main button {
    width:100px;
    height:40px;
    font-size: 1.5em;
}
.output {
    list-style-type: none;
    padding : 20px;
    margin:0;
    background-color: antiquewhite;
    margin-top: 2rem;
}
.output li{
    padding:5px;
    background-color: bisque;
    font-size: 1.5em;
    color:#222;
    border-bottom: 2px solid #222;
}

.output li button{
    padding:5px;
    margin:0 20px;
    display: inline-block;
    height: 30px;
    background-color: #fff;
    color:red;
}


.btn{
    width:200px;
    margin:auto;
    height:50px;
    border: 1px solid black;
    text-align: center;
    padding:10px;
    margin-top:20px;
    cursor: pointer;
    background-color: cadetblue;
}

.btn:hover{
    border: 1px solid red;
    background-color: blue;
    color:white;
}

.ready {
    background-color: rgb(196, 141, 141);
    color: red;
    text-decoration: line-through ;
}

